<%- include('../header.ejs') %>

<div class="container mt-5">
        <br> 
        
        <div class="card bg-light w-50 float-right mr-5 mb-5">
        <article class="card-body mx-auto" style="max-width: 400px;">
 
            <p class="divider-text">
                <span class="bg-light">ورود</span>
            </p>
              
        
            <form action="/login" method="POST" >
            
            <div class="form-group input-group">
            
                <input name="email" class="form-control rounded-0" placeholder="ایمیل" type="email">
                <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
            </div> <!-- form-group// -->
        
        
            <div class="form-group input-group">
            
                <input name="password" class="form-control rounded-0" placeholder="پسورد" type="password">
                <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
            </div> <!-- form-group// -->
        
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">ورود</button>

            </div> <!-- form-group// -->   
            <%- recaptcha %>
            
            <p class="text-center mt-2">اکانت ندارید ؟<a href="/register"> ثبت نام</a> </p>  

                                        
        </form>
        </article>
        </div> <!-- card.// -->

                
        <% if(messages.length > 0){ %> 
            <div class="alert m-0 float-right">
                <% messages.forEach(error=>{ %>
                    <div class="alert-danger alert p-1 mb-1 text-right">
                        <%= error %>
                    </div>
    
                <% }) %>
            </div>
        <% } %>      
        
        </div> 
        <!--container end.//-->

<%- include('../footer.ejs') %>