






<br><br><br><br><br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<article class="bg-secondary">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">فوتر سایت شاپ </h3>
<p class="h5 text-white">    بهترین محصولات اموزشی  در شاپینگ   
<p><a class="btn btn-warning mt-2" target="_blank" href="http://www.instagram.com/davod_vesaghati"> davod vesaghati
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br>
</article>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>