<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="fonts/iransans/css/fontiran.css">
<link rel="stylesheet" href="fonts/iransans/css/style.css">


</head>
<body>

    <nav class="nav justify-content-center mt-3">
      <a class="nav-link active text-white bg-info ml-1" href="/">صفحه ی اصلی</a>
      <a class="nav-link bg-danger text-white ml-1" href="/login">ورود </a>
      <a class="nav-link bg-success text-white ml-2" href="/register">ثبت نام</a>
    </nav>

    

